body{background-image: url(https://c.wallhere.com/photos/17/aa/fuji_fujifilm_x30_fujifilmx30_digital_black_white_blackandwhite-610018.jpg!d)}

.jumbotron{
    margin: 15%;opacity: .5; background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yI9FRzo/animated-blizzard-on-transparent-background-alpha-channel-embedded-with-hd-png-file_4jg0lmpym__F0000.png)
}

h1{opacity: 1;color: white;font-family: 'Permanent Marker', cursive;}

h4{opacity: 1;color: white;font-family: 'Permanent Marker', cursive;}

h2{opacity: 1;font-family: 'Teko', sans-serif;color: red}

.justify-content-center{opacity: 1;}


p{font-family: 'Ruslan Display', cursive; size: 25px;color: rebeccapurple}

